<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
      </li>

<!--      <li class="divider"></li>
      <li class="nav-title">
        UI Elements
      </li>-->
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="icon-plus"></i>Product Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-drawer"></i>Search/Dispatch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-grid"></i>Report</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Setting
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ng-click="logout()"  href="#" ><i class="icon-logout"></i> Logout</a>
      </li>

    </ul>
  </nav>
</div>